{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">

<div id="login_wrap">
    <div id="login">
        <form method="post" action="{% url 'shop:signup' %}">
            <div id="inputBox">
                    {% csrf_token %}
                    {{ form.as_table }}
            </div>
            <div id="loginBtn">
                <input type="submit" id="submitBtn" value="회원가입" />
            </div>    
        </form>
    </div>
</div>
{% endblock %}
