@charset "utf-8";
/* CSS Document */

/* 전체 서브 페이지 */
#subPageContents_wrap {float: left; width: 100%;}
#subPageContents_wrap #subPageContents {width: 1200px; margin: 100px auto;}

/* 상품 상세 페이지 */
#subPageContents_wrap #subPageContents #productInfoImg {float: left; width: 690px; height: 485px;}
#subPageContents_wrap #subPageContents #productInfo {float: left; width: 425px; height: 425px; box-shadow: 0 0 5px #d6d6d6; margin-left: 25px; padding: 30px;}

#productInfo .tit {font-size:30px; float: left; width: 100%; height: 50px; line-height: 50px;}
#productInfo .h {font-size:15px; float: left; width: 95px; height: 28px; line-height: 28px; font-weight: bold;}
#productInfo .h40 {font-size:15px; float: left; width: 95px; height: 45px; line-height: 45px; font-weight: bold;}
#productInfo .d {font-size:15px; float: left; width: 330px; height: 28px; line-height: 28px; color: #666;}
hr {border: 1px solid #dddddd; margin: 15px 0; float: left; width: 100%;}
#productInfo .d select {border: 1px solid #dddddd; width: 330px; height: 40px;}
#productInfo .sum {font-size:15px; float: left; width: 100%; text-align: right; margin-top: 20px; height: 40px; line-height: 40px;}
#productInfo .sum span {font-size:30px; font-weight: bold;}

#productInfo form div {float: left; width: 100%; margin-top: 40px;}

/* 상품 상세 페이지 탭 */
#productDetail_wrap {float: left; width: 100%;}
#productDetail_wrap #productDetail {width: 1200px; margin: 100px auto; text-align: center;}
#productDetail_wrap #productDetail a:nth-child(1){font-weight: bold; border-bottom: 2px solid #ffca00;}
#productDetail_wrap #productDetail a{margin: 0 30px; font-size: 17px; padding-bottom: 10px;}
#productDetail_wrap #productDetail #detailTab hr {margin-top: 50px; margin-bottom: 50px;}
 
	#productDetail_wrap #productDetail #detailTab #detailTab1 {float: left; width: 1200px;}
	#productDetail_wrap #productDetail #detailTab #detailTab2 {float: left; width: 1200px; display: none;}
	#productDetail_wrap #productDetail #detailTab #detailTab3 {float: left; width: 1200px; display: none;}