<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>민속국악사</title>
<link rel= "stylesheet" type="text/css" href="./home.css">
<link rel= "stylesheet" type="text/css" href="./intro.css">
<link rel= "stylesheet" type="text/css" href="./cart.css">
<link rel= "stylesheet" type="text/css" href="./intro.css">
<link rel= "stylesheet" type="text/css" href="./login.css">
<link rel= "stylesheet" type="text/css" href="./mypage.css">
<link rel= "stylesheet" type="text/css" href="./product.css">
<link rel= "stylesheet" type="text/css" href="./productD.css">
<script src="./javascript.js"></script>
</head>

<body>
	<!-- header -->
	<div id="header_wrap">
		<div id="header">
			<!-- 로고 -->
			<a href="./홈.html"><img id="logo" alt="민속국악사" title="민속국악사" src="./logo.png"/></a>
			
			<!-- 메인 메뉴 -->
			<nav id="gnb_m">
				<ul>
					<li><a href="#" title="민속국악사">민속국악사</a></li>
					<li><a href="#" title="제품구매">제품구매</a></li>
					<li><a href="#" title="오시는 길">오시는 길</a></li>
					<li><a href="#" title="커뮤니티">커뮤니티</a></li>
				</ul>
			</nav>
			
			<!-- 부 메뉴 -->
			<nav id="gnb_s">
				<ul>
					<li><a href="#" title="로그인">로그인</a><span>|</span></li>
					<li><a href="#" title="회원가입">회원가입</a><span>|</span></li>
					<li><a href="#" title="장바구니">장바구니</a><span>|</span></li>
					<li><a href="#" title="배송조회">배송조회</a></li>
				</ul>
			</nav>
		</div>
	</div>

<!---------------------------------------------------------------------->
	
	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 장바구니
		</p>
	</div>
	
	<div id="cart_wrap">
		<div id="cart">
			
			<!-- 장바구니 TITLE -->
			<p id="cart_title">장바구니</p>
			<p id="cart_process"><span class="step">장바구니</span> > 주문/결제 > 주문완료</p>
	
			<!-- 장바구니 LIST -->
			<table>
				
			<!-- 제목줄 -->
			<tr>
				<th>제품</th>
				<th>가격</th>
				<th>수량</th>
				<th>합계</th>
				<th>주문</th>
			</tr>
				
			<!-- 내용 -->
			<tr>
				<td><img src="./order.png" alt="#" />민속국악사 앙금 250</td>
				<td>2,500,000 원</td>
				<td>
					<div>
					<!-- numSet() 수정 필요합니다!!! -->
					<button class="numBtn" type="button" onClick="numSet(-1, 'tmpID1');">-</button>
					<input type="text" id="tmpID1" value = "1" disabled>
					<button class="numBtn" type="button" onClick="numSet(1, 'tmpID1');">+</button>
					</div>
				</td>
				<td>2,500,000 원</td>
				<td><button class="delBtn" type="button" title="삭제">삭제</button></td>
			</tr>
				
			<tr>
				<td><img src="./order.png" alt="#" />민속국악사 앙금 250</td>
				<td>2,500,000 원</td>
				<td>
					<div>
					<button class="numBtn" type="button" onClick="numSet(-1, 'tmpID2');">-</button>
					<input type="text" id="tmpID2" value = "1" disabled>
					<button class="numBtn" type="button" onClick="numSet(1, 'tmpID2');">+</button>
					</div>
				</td>
				<td>2,500,000 원</td>
				<td><button class="delBtn" type="button" title="삭제">삭제</button></td>
			</tr>
				
			<tr>
				<td><img src="./order.png" alt="#" />민속국악사 앙금 250</td>
				<td>2,500,000 원</td>
				<td>
					<div>
					<button class="numBtn" type="button" onClick="numSet(-1, 'tmpID3');">-</button>
					<input type="text" id="tmpID3" value = "1" disabled>
					<button class="numBtn" type="button" onClick="numSet(1, 'tmpID3');">+</button>
					</div>
				</td>
				<td>2,500,000 원</td>
				<td><button class="delBtn" type="button" title="삭제">삭제</button></td>
			</tr>
				
			</table>
			
			
			<!-- 총 결제 금액 -->
			<div id="cart_sum">
				<p class="tit">총 결제 금액</p><hr />
				
				<!-- 상품 요약 -->
				<p class="h">판매가</p>	<p class="d">10,000,000 원</p>
				<p class="h">배송비</p>	<p class="d">무료배송</p>
				<p class="h">추가 배송비</p>	<p class="d">해당없음</p><hr />
				<!-- 합계 -->
				<p class="sum">합계<span> 10,000,000</span> 원</p>
				<!-- 버튼 -->
				<div>
					<button class="btn_buy" type="button" title="결제하기">결제하기</button>
					<button class="btn_basket" type="button" title="쇼핑 계속하기">쇼핑 계속하기</button>
				</div>
			</div>
			
		</div>
	</div>
	
<!---------------------------------------------------------------------->
		
	<div id="footer_wrap">
		<div id="footer">
			<div id="copyright">
				제조판매업자 민속국악사  주소 서울특별시 강남구 개포동 1200-3<br/>
				대표 조대석  개인정보관리책임자 조대석  문의전화 010-5271-7897 <br/>
				2018 MINSOKGUKAKSA RIGHTS RESERVED.
			</div>
			<div id="footBtn">
				<button class="footBtn1" type="button" title="이용약관">이용약관</button>
				<button class="footBtn2" type="button" title="개인정보처리방침">개인정보처리방침</button>
			</div>
		</div>
	</div>
</body>
</html>