<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>민속국악사</title>
<link rel= "stylesheet" type="text/css" href="./home_mobile.css">
<script src="./javascript.js"></script>
</head>

<body>
	<!-- header -->
	<div id="header_wrap">
		<div id="header">
			<!-- 로고 -->
			<a href="./홈_mobile.html"><img id="logo" alt="민속국악사" title="민속국악사" src="./logo.png"/></a>
			
			<!-- 메인 메뉴 -->
			<input id="hide_m" type="checkbox" /><label for="hide_m">&equiv;</label>
			<nav>
				<header>메뉴</header>
				<ul>
					<li><a href="#">민속국악사</a></li>
					<li><a href="#">제품구매</a></li>
					<li><a href="#">오시는 길</a></li>
					<li><a href="#">로그인</a></li>
				</ul>
			</nav>			
			
		</div>
	</div>
	
	<!-- banner -->
	<div id="banner_wrap">
		<img id="banner" src="m_banner1.png">
	</div>
	
	<!-- 민속국악사 2018 추천상품 -->
	<div id="m1_wrap">
		<div id="m1">
			<div id="m1_header">
				<p class="boardMtit">민속국악사 2018 추천상품</p>
			</div>
			<div id="m1_cont">
				<ul>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
					<li>
						<p><img src="./sample.png" alt="#" title="#"/></p>
						<p><a href="#">민속국악사 해금</a></p>
					</li>
				</ul>
				<button class="m1Btn" type="button" title="전체상품보기">전체상품보기</button>
			</div>
		</div>
	</div>
	
	<!-- 민속국악사 둘러보기 -->
	<div id="m2_wrap">
		<div id="m2">
			<div id="m2_header">
				<p class="boardMtit">민속국악사 둘러보기</p>
			</div>
			<div id="m2_cont">
				
				<!-- 1. 조대석 장인 -->
				<div id="m2_cont_1">
					<img src="./m2_cont_1.png" alt="조대석 장인"/>
					<div>
						<p><span>조대석</span>장인</p>
						안녕하십니까?<br />
						민속국악사 대표 조대석입니다.<br />
						우리 소리와 우리 전통을 보급하기 위해<br />
						항상 정성을 다하겠습니다.<br />
						<button class="m2Btn" type="button" title="자세히보기">자세히보기</button>
					</div>
				</div>
				
				<!-- 2. 민속국악사 개포점 -->
				<div id="m2_cont_2">
					<img src="./m2_cont_2.png" alt="민속국악사 개포점"/>
					<div>
						<p><span>민속국악사 개포점</span></p>
						저희 민속국악사는 강남구<br />
						개포동에 위치해 있습니다.<br />
						국악중, 국악고에서 가까운 거리에<br />
						위치하고 있습니다.<br />
						<button class="m2Btn" type="button" title="자세히보기">자세히보기</button>
					</div>
				</div>
				
				<!-- 3. 민속국악사 제품 -->
				<div id="m2_cont_3">
					<img src="./m2_cont_3.png" alt="민속국악사 제품"/>
					<div>
						<p><span>민속국악사 제품</span></p>
						안녕하세요 민속국악사<br />
						대표 홍길동입니다.<br />
						우리소리 우리전통을 보급하기 위해<br />
						정성을 다하겠습니다.<br />
						<button class="m2Btn" type="button" title="자세히보기">자세히보기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 민속국악사 찾아오시는 길 -->
	<div id="m4_wrap">
		<div id="m4">
			<div id="m4_header">
				<p class="boardMtit">민속국악사 찾아오시는 길</p>
			</div>
			<div id="m4_cont">
				<img src="./m_map.png" alt="오시는 길"/>
			</div>
		</div>
	</div>
	
	<!-- 민속국악사 소통공간 -->
	<div id="footer_wrap">
		<div id="footer">
			<div id="footBtn">
				<button class="footBtn1" type="button" title="이용약관">이용약관</button>
				<button class="footBtn2" type="button" title="개인정보처리방침">개인정보처리방침</button>
			</div>
			<div id="copyright">
				제조판매업자 민속국악사  주소 서울특별시 강남구 개포동 1200-3<br/>
				대표 조대석  개인정보관리책임자 조대석  문의전화 010-5271-7897 <br/>
				2018 MINSOKGUKAKSA RIGHTS RESERVED.
			</div>
		</div>
	</div>
</body>
</html>