<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>민속국악사</title>
<link rel= "stylesheet" type="text/css" href="./home_mobile.css">
<link rel= "stylesheet" type="text/css" href="./intro_mobile.css">
<script src="./javascript.js"></script>
</head>

<body>
	<!-- header -->
	<div id="header_wrap">
		<div id="header">
			<!-- 로고 -->
			<a href="./홈.html"><img id="logo" alt="민속국악사" title="민속국악사" src="./logo.png"/></a>
			
			<!-- 메인 메뉴 -->
			<input id="hide_m" type="checkbox" /><label for="hide_m">&equiv;</label>
			<nav>
				<header>메뉴</header>
				<ul>
					<li><a href="#">민속국악사</a></li>
					<li><a href="#">제품구매</a></li>
					<li><a href="#">오시는 길</a></li>
					<li><a href="#">로그인</a></li>
				</ul>
			</nav>
		</div>
	</div>

<!---------------------------------------------------------------------->
	
	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 소개
		</p>
	</div>
	
	<!-- 민속국악사 소개 -->
	<div id="intro_wrap">
		<div id="intro">
			
			<!-- 조대석 장인 -->
			<div id="intro_1">
				<img src="./m_intro1.png" alt="조대석 장인"/>
				<div>
					<p>안녕하세요 민속국악사 대표<br/>조대석입니다</p>
					1968년부터 국악기 제작에 입문하여 현재까지 다양한 활동과 함께
					전통적인 제작법과 노하우로 국악기 제작 및 발전에 힘쓰고 있으며,<br/>
					악기제작에 필요한 좋은 품질의 재료를 위해 양평소재의 연구소에서	목재 건조 및 연구에 매진 하고있습니다.<br/>
					민속국악사는 항상 장인정신으로 제작하여 연주자의 마음을 울릴 수 있는 최상의 악기를 만들 수 있도록 최선을 다하겠습니다.<br/>
					감사합니다.<br/>
				</div>
			</div>
			
			<!-- 특별상 수상 -->
			<div id="intro_2">
				<img src="./m_intro2.png" alt="특별상 지급"/>
				<div>
					<p>동아국악 콩쿠르 거문고부분<br/>특별상 지급</p>
					민속국악사는 2014년(제 30회)부터 동아국악콩쿠르에서 민속국악기상을 학생부 및 일반부 거문고 부문 수석 입상자에게 거문고를 특별상으로 지급하고 있습니다.<br/>
				</div>
			</div>
			
			<!-- 장인정신 -->
			<div id="intro_3">
				<img src="./m_intro3.png" alt="장인정신"/>
				<div>
					<p>민속국악사의 장인정신</p>
					민속국악사는 항상 장인정신으로 제작하여 연주자의 마음을 울릴수 있는 최상의 악기를 만들 수 있도록 최선을 다하겠습니다.<br/>
				</div>
			</div>
			
			<!-- 전문 제작 -->
			<div id="intro_4">
				<img src="./m_intro4.png" alt="전문 제작"/>
				<div>
					<p>국악 현악기 전문 제작</p>
					민속국악사는24년 전통 가야금, 거문고 등 현악기를 전문적으로 제작했습니다.<br/>
					우수한 품질을 제공하고 정확한 소리를 위해 끊임없이 탐구합니다. <br/>
				</div>
			</div>
		</div>
	</div>
		
<!---------------------------------------------------------------------->
		
	<div id="footer_wrap">
		<div id="footer">
			<div id="copyright">
				제조판매업자 민속국악사  주소 서울특별시 강남구 개포동 1200-3<br/>
				대표 조대석  개인정보관리책임자 조대석  문의전화 010-5271-7897 <br/>
				2018 MINSOKGUKAKSA RIGHTS RESERVED.
			</div>
			<div id="footBtn">
				<button class="footBtn1" type="button" title="이용약관">이용약관</button>
				<button class="footBtn2" type="button" title="개인정보처리방침">개인정보처리방침</button>
			</div>
		</div>
	</div>
</body>
</html>