<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>민속국악사</title>
<link rel= "stylesheet" type="text/css" href="./home_mobile.css">
<link rel= "stylesheet" type="text/css" href="./intro_mobile.css">
<link rel= "stylesheet" type="text/css" href="./map_mobile.css">
<script src="./javascript.js"></script>
</head>

<body>
	<!-- header -->
	<div id="header_wrap">
		<div id="header">
			<!-- 로고 -->
			<a href="./홈.html"><img id="logo" alt="민속국악사" title="민속국악사" src="./logo.png"/></a>
			
			<!-- 메인 메뉴 -->
			<input id="hide_m" type="checkbox" /><label for="hide_m">&equiv;</label>
			<nav>
				<header>메뉴</header>
				<ul>
					<li><a href="#">민속국악사</a></li>
					<li><a href="#">제품구매</a></li>
					<li><a href="#">오시는 길</a></li>
					<li><a href="#">로그인</a></li>
				</ul>
			</nav>
		</div>
	</div>
	
<!---------------------------------------------------------------------->
	
	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 오시는 길
		</p>
	</div>
	
	<!-- 오시는 길 -->
	<div id="dirs_wrap">
		<div id="dirs">

			<div id="dirs_cont">
				<img src="./m_map.png">

				<!-- 1. 연락처 --> 
				<div id="contact">
					<p>연락처</p>
					<table>
						<tr>
							<th>주소</th>
							<td>서울특별시 강남구 개포로22길 52, <br />민속국악사</td>
						</tr>
						<tr>
							<th>전화</th>
							<td>010-5271-7897</td>
						</tr>
					</table>
				</div>

				<!-- 2. 교통편 -->
				<div id="traffic">
					<p>교통편</p>
					<table>
						<tr>
							<th>지하철</th>
							<td>
								<div class="b1">신분당선</div><br/>
								양재시민의숲역 -> 양재 소방서앞 정류장으로 이동 ->
								서초 09 버스 탑승 -> 국악고교사거리 정류장 하차 -> 민속국악사로 이동
							</td>
						</tr>
						<tr>
							<th>버스</th>
							<td>
								<div class="b2">간선</div>463<br/>
								<div class="b3">지선</div>4211, 4412<br/>
								<div class="b3">마을</div>강남10, 서초09, 서초18, 서초21<br/>
								* 국악사거리 정류장 하차<br/>
							</td>
						</tr>
						<tr>
							<th>자가용</th>
							<td>
								국악고교 앞 민속국악사 주차장
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!---------------------------------------------------------------------->
		
	<div id="footer_wrap">
		<div id="footer">
			<div id="copyright">
				제조판매업자 민속국악사  주소 서울특별시 강남구 개포동 1200-3<br/>
				대표 조대석  개인정보관리책임자 조대석  문의전화 010-5271-7897 <br/>
				2018 MINSOKGUKAKSA RIGHTS RESERVED.
			</div>
			<div id="footBtn">
				<button class="footBtn1" type="button" title="이용약관">이용약관</button>
				<button class="footBtn2" type="button" title="개인정보처리방침">개인정보처리방침</button>
			</div>
		</div>
	</div>
</body>
</html>