<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>민속국악사</title>
<link rel= "stylesheet" type="text/css" href="./home_mobile.css">
<link rel= "stylesheet" type="text/css" href="./intro_mobile.css">
<link rel= "stylesheet" type="text/css" href="./map_mobile.css">
<link rel= "stylesheet" type="text/css" href="./product_mobile.css">
<script src="./javascript.js"></script>
</head>

<body>
	<!-- header -->
	<div id="header_wrap">
		<div id="header">
			<!-- 로고 -->
			<a href="./홈.html"><img id="logo" alt="민속국악사" title="민속국악사" src="./logo.png"/></a>
			
			<!-- 메인 메뉴 -->
			<input id="hide_m" type="checkbox" /><label for="hide_m">&equiv;</label>
			<nav>
				<header>메뉴</header>
				<ul>
					<li><a href="#">민속국악사</a></li>
					<li><a href="#">제품구매</a></li>
					<li><a href="#">오시는 길</a></li>
					<li><a href="#">로그인</a></li>
				</ul>
			</nav>
		</div>
	</div>

<!---------------------------------------------------------------------->
	
	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 제품구매
		</p>
	</div>
	
	<div id="subPageContents_wrap">
	<div id="subPageContents">
		
	<!-- 카테고리 -->
	<select>
		<option>카테고리</option>
		<option>가야금</option>
		<option>거문고</option>
		<option>아쟁</option>
		<option>해금</option>
		<option>대금</option>
		<option>소품류</option>
		<option>베스트셀러</option>
	</select>
	
	<!-- 상품 리스트 -->
	<div id="product_wrap">
		<div id="product">
			
		<ul>
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
			
			<a href="#">
			<li>
				<p><img src="./sample.png" alt="#" title="#"/></p>
				<p>민속국악사 해금</p>
				<p>600,000 \</p>
			</li>
			</a>
		</ul>
			
		</div>
	</div>
		
		</div>
	</div>
		
<!---------------------------------------------------------------------->
		
	<div id="footer_wrap">
		<div id="footer">
			<div id="copyright">
				제조판매업자 민속국악사  주소 서울특별시 강남구 개포동 1200-3<br/>
				대표 조대석  개인정보관리책임자 조대석  문의전화 010-5271-7897 <br/>
				2018 MINSOKGUKAKSA RIGHTS RESERVED.
			</div>
			<div id="footBtn">
				<button class="footBtn1" type="button" title="이용약관">이용약관</button>
				<button class="footBtn2" type="button" title="개인정보처리방침">개인정보처리방침</button>
			</div>
		</div>
	</div>
</body>
</html>