{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">

<!-- 서브페이지 타이틀 -->
    <div id="subPageTitle_wrap">
		<p id="subPageTitle">
			장바구니
		</p>
	</div>
	
     
    {% if objects %}
    <link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
  
    <div id="login_wrap">
      <div id="login">

          {% for object in objects %}
            <h2>{{ object.product_name }}</h2>
            <p>가격 : {{ object.price }}</p>
            <p>수량: {{ object.count }}</p>
            <p>합계: {{ object.total }}</p>
            <a href="{% url 'shop:cart_delete' object.cart_id %}">Delete</a>

          <hr>
        {% endfor %}
        </div>
    </div>

    {% else %}
        <!--<a href="{% url 'shop:profile_create' %}">프로필 작성하기</a>-->
        <a href="{% url 'shop:products' %}">상품 담으러가기</a>
    {% endif %}

<script>



</script>

{% endblock %}