{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/home.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/productD.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/mypage.css' %}">

<!-- 서브페이지 타이틀 -->
    <div id="subPageTitle_wrap">
		<p id="subPageTitle">
			장바구니
		</p>
	</div>
	
<div id="mypageTab_1" name="mypageTab_1">

    {% if objects %}
    <link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
  <table>
	<tr>
		<th>장바구니 번호</th>
		<th>제품명</th>
		<th>가격/수량</th>
		<th>총합</th>
		<th>주문/배송상태</th>
	</tr>
        {% for cart in objects %}

    <tr>
        <td><p>{{ cart.cart_id }}</p></td>
        <td><p>{{ cart.product_name }}</p></td>
        <td><p>{{ cart.price }}</p><p>{{ cart.count }}</p></td>
        <td><p>{{ cart.total }}</p></td>
        <td>
                <button class="btn_buy" onclick="location.href='{% url 'shop:order_product' cart.product_id %}'" title="구매하기">구매하기</button>
        </td>
        </tr>
            {% empty %}
                <li><p>비었다</p></li>
            {% endfor %}
    </table>

    {% else %}
        <!--<a href="{% url 'shop:profile_create' %}">프로필 작성하기</a>-->
        <a href="{% url 'shop:products' %}">상품 담으러가기</a>
    {% endif %}
</div>

<script>



</script>

{% endblock %}