{% extends 'shop/base.html' %}

{% block content %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
ORDER FORM

<form method="POST" action="{% url 'shop:order_product' product.pk  %}" id="form_order_info">
    {% csrf_token %}
    {{ form.non_field_erros }}
    <label for="{{ form.fullname.id_for_label }}">이름</label>
    {{ form.fullname }}
    <label for="{{ form.phone.id_for_label }}">연락처</label>
    {{ form.phone }}
    <label for="{{ form.address.id_for_label }}">주소</label>
    {{ form.address }}
    <label for="{{ form.address_detail.id_for_label }}">상세 주소</label>
    {{ form.address_detail }}

{% if product %}
    <p> 물품명 : {{ product.name }} </p> <input type="hidden" id="product_id" name="product_id" value="{{ product.pk }}">
    <p> 가격 : {{ product.price }} </p> <input type="hidden" id="price" name="price" value="{{ product.price }}">
    <p> 수량 : </p> {{ itemform.count }}
    <p> 금액 :  </p> <input type="number" name="total" disabled>
{% elif objects %}

{% endif %}

</form>
<input type="button" onclick = "order_request();" value="결제하기" >결제하기</input>

<button type="button" form="form_order_info">주문 하기</button>


<script>
        IMP.init('imp26288475');

        function order_request(){
            IMP.request_pay({
            pg : 'inicis', // version 1.1.0부터 지원.
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : '주문명:결제테스트',
            amount : 500,
            buyer_email : 'iamport@siot.do',
            buyer_name : '구매자이름',
            buyer_tel : '010-1234-5678',
            buyer_addr : '서울특별시 강남구 삼성동',
            buyer_postcode : '123-456',
            m_redirect_url : 'http://www.minsokgukak.com/order/complete'
        }, function(rsp) {
            if ( rsp.success ) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        }); 
        }
        
</script>
        
{% endblock %}

