{% extends 'shop/base.html' %}

{% block content %}

{% load static %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/home.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/productD.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/mypage.css' %}">

<!-- 서브페이지 타이틀 -->
    <div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 제품구매 
		</p>
	</div>
	
	<div id="subPageContents_wrap">
	<div id="subPageContents">

	<!-- 상품 리스트 -->
			<div id="mypageTab_1" name="mypageTab_1">
{% if object_list %}
<table>
	<tr>
		<th>주문날짜/주문번호</th>
		<th>제품명</th>
		<th>가격/수량</th>
		<th>총합</th>
		<th>주문/배송상태</th>
	</tr>
        {% for order in object_list %}

    <tr>
        <td><p>{{ order.order_date }}</p><p>{{ order.order_id }}</p></td>
        <td>{{ order.order_item.product  }}</td>
        <td><p>가격</p><p>수량</p></td>
        <td><p>{{ order.total }}</p></td>
        <td>
                 <p>
                {% if order.status == '0' %}
                    결제 대기
                {% elif order.status == '1' %}
                    결제 완료
                {% elif order.status == '2' %}
                    상품 준비중
                {% elif order.status == '3' %}
                    배송 중
                {% elif order.status == '4' %}
                    배송 완료
                {% elif order.status == '5' %}
                    구매 완료
                {% endif %}
            </p>
            </a>
        </td>
        </tr>
            {% empty %}
                <li><p>비었다</p></li>
            {% endfor %}
    </table>
		

{% else %}
        <a href="{% url 'shop:products' %}">상품 구매하러 가기</a>
{% endif %}
</div>
    </div>
    </div>
{% endblock %}
