{% extends 'shop/base.html' %}

{% block content %}

{% load static %}

<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">

<!-- 서브페이지 타이틀 -->
    <div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 제품구매 
		</p>
	</div>
	
	<div id="subPageContents_wrap">
	<div id="subPageContents">
     
	<!-- 서브페이지 메뉴 -->
	<div id="subPageMenu_wrap">
		<div id="subPageMenu">
			<div>민속국악사 악기 분류</div>
			<ul>
				<a href="{% url 'shop:category' 'Ga' %}"><li><p>가야금</p><p>{{ categories.Ga }}</p></li></a>
				<a href="{% url 'shop:category' 'Gu' %}"><li><p>거문고</p><p>{{ categories.Gu }}</p></li></a>
				<a href="{% url 'shop:category' 'Ah' %}"><li><p>아쟁</p><p>{{ categories.Ah }}</p></li></a>
				<a href="{% url 'shop:category' 'Hae' %}"><li><p>해금</p><p>{{ categories.Hae }}</p></li></a>
				<a href="{% url 'shop:category' 'Dae' %}"><li><p>대금</p><p>{{ categories.Dae }}</p></li></a>
				<a href="{% url 'shop:category' 'etc' %}"><li><p>소품류</p><p>{{ categories.etc }}</p></li></a>
			</ul>
			<ul>
				<a href="{% url 'shop:best' %}"><li><p>베스트셀러</p><p>{{ best }}</p></li></a>
			</ul>
		</div>
	</div>	
	
	<!-- 상품 리스트 -->
	<div id="product_wrap">
		<div id="product">
			
		<ul>
			{% for product in object_list %}
                <a href="{% url 'shop:product' product.product_id %}">
                <li>
                    <p><img src="{{ product.main_img.url }}"></p>
                    <p>{{ product.name }}</p>
                    <p>{{ product.price }}</p>
                </li>
                </a>
            {% empty %}
                <li><p>비었다</p></li>
            {% endfor %}
		</ul>
			
		</div>
	</div>
		
		</div>
    </div>
    

{% endblock %}
