{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/home.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/productD.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/mypage.css' %}">
<script src="{% static 'shop/js/javascript.js' %}"></script>
<style>



</style>
<!-- 서브페이지 타이틀 -->


	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 마이페이지 / 개인정보관리
		</p>
	</div>

	<div id="subPageContents_wrap">
	<div id="subPageContents">

	<!-- 마이페이지 -->
	<p id="mypageTit">마이페이지</p>

	<!-- 마이페이지 탭 메뉴 -->

		<!-- 개인정보관리 -->
		<div id="mypageTab_1" name="mypageTab_1" style="display:show">
			<div id="mypageTab_2_1" name="mypageTab_2_1">
                {% if profile_list %}

				<div id="profile_wrap">
                  <div id="login">
					  <table>
					  	{% for profile in profile_list %}
					  		<tr>
								<th>이름</th>
								<td>{{ profile.fullname }}</td>
							</tr>
						  	<tr>
								<th>연락처</th>
								<td>{{ profile.phone }}</td>
							</tr>
						  	<tr>
								<th>주소</th>
								<td>{{ profile.address }}</td>
							</tr>
						  	<tr>
								<th>상세 주소</th>
								<td>{{ profile.address_detail }}</td>
							</tr>

					  </table>
					  							<a href="{% url 'shop:profile_edit' user.pk %}">프로필 수정하기</a>

                    {% endfor %}
                    </div>
                </div>

                {% else %}
                    <a href="{% url 'shop:profile_create' %}">프로필 작성하기</a>
                {% endif %}
			</div>
			<div id="mypageTab_2_3" name="mypageTab_2_3">
				<form>
					<div>
						회원탈퇴시 개인정보가 모두 삭제되며, 탈퇴처리 이후에는 어떠한 방법으로도 회원님의 개인정보를 복원할 수 없습니다.<br />
						위의 주의사항 등을 먼저 꼭 읽어 보신 후 아래의 항목을 입력하셔야 합니다.
					</div>
					<button type="submit" class="submitBtn">탈퇴하기</button>
				</form>
			</div>

		</div>


	</div>
	</div>



{% endblock %}