{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/product.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/intro.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/home.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/productD.css' %}">
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/mypage.css' %}">
<script src="{% static 'shop/js/javascript.js' %}"></script>

<!-- 서브페이지 타이틀 -->


	<!-- 서브페이지 타이틀 -->
	<div id="subPageTitle_wrap">
		<p id="subPageTitle">
			민속국악사 / 마이페이지 / 개인정보관리 / 회원정보수정
		</p>
	</div>

	<div id="subPageContents_wrap">
	<div id="subPageContents">

	<!-- 마이페이지 -->
	<p id="mypageTit">마이페이지</p>

	<!-- 마이페이지 탭 메뉴 -->

		<!-- 개인정보관리 -->
		<div id="mypageTab_1" name="mypageTab_1" style="display:show">

			<a id="mypageTab2_1" href="#mypageTab_2_1" onClick="mypageSecondChangeTab('1')" class="mypageSelected2">회원정보수정</a>

			<div id="mypageTab_2_1" name="mypageTab_2_1">
                {% if profile_list %}
                <div id="profile_wrap">
                  <div id="login">
                    {% for profile in profile_list %}
                        <p>이름 : {{ profile.fullname }} </p>
                        <p>연락처 : {{ profile.phone }}</p>
                        <p>주소 : {{ profile.address }}</p>
                        <p>상세 주소 : {{ profile.address_detail }}</p>
                        <a href="{% url 'shop:profile_edit' user.pk %}">프로필 수정하기</a>

                    {% endfor %}
                    </div>
                </div>

                {% else %}
                    <a href="{% url 'shop:profile_create' %}">프로필 작성하기</a>
                {% endif %}
			</div>
			<div id="mypageTab_2_2" name="mypageTab_2_2">
				<!-- ********** 환불계좌관리 file include ********** -->
			</div>
			<div id="mypageTab_2_3" name="mypageTab_2_3">
				<form>
					<div>
						회원탈퇴시 개인정보가 모두 삭제되며, 탈퇴처리 이후에는 어떠한 방법으로도 회원님의 개인정보를 복원할 수 없습니다.<br />
						위의 주의사항 등을 먼저 꼭 읽어 보신 후 아래의 항목을 입력하셔야 합니다.
					</div>
					<button type="submit" class="submitBtn">탈퇴하기</button>
				</form>
			</div>

		</div>


	</div>
	</div>



{% endblock %}