{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<link rel= "stylesheet" type="text/css" href="{% static 'shop/css/login.css' %}">


<div id="login_wrap">
        <div id="login">
                <form method="post" action="{% url 'shop:profile_edit' user.pk %}">
                <div id="inputBox">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <label for="{{ form.fullname.id_for_label }}">이름</label>
                    {{ form.fullname }}
                    <label for="{{ form.phone.id_for_label }}">연락처</label>
                    {{ form.phone }}
                    <label for="{{ form.address.id_for_label }}">주소</label>
                    {{ form.address }}
                    <label for="{{ form.address_detail.id_for_label }}">상세 주소</label>
                    {{ form.address_detail }}
                    
                    <!-- <tbody>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" id="name" name="name" style="width:100%">
                            </td>
                        </tr><br>
                        <tr>
                            <th>연락처</th>
                            <td>
                                <input type="text" id="phone" name="phone" style="width:100%">
                            </td>
                        </tr>   <br>    
    
                        <tr>
                            <th><label>도로명주소</label></th>
                            <td><input type="text" id="address" style="width:100%"></td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                                <td>
                                    <input type="text" id="address_detail" style="width:100%" value="">
                                </td>
                        </tr>
                    </tbody> -->
                </div>
                    <input type="submit" id="submitBtn" value="프로필 저장" />
        </form>
    </div>
</div>


{% endblock %}